.background {
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;

}

.hero {
    margin: 0px 120px;
    margin-top: 270px;
}

.hero-text {
    color: black;
    font-size: 110px;
    font-weight: 500;
    line-height: 130px;
}

.how {
    display: flex;
    align-items: center;
    gap: 50px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
}